.input-file {
 min-height: 3rem;
 border: var(--border-primary) 3px solid;
 padding: .5rem;
 background-image: url(../../assets/img/xlsx_icon.png);
 background-repeat: no-repeat;
 background-size: contain;
 background-position: top right;
 width: 100%;
}

.input-file:hover {
 cursor: url("xlsx_icon.png"), pointer;
 border: var(--border-active) 3px solid;
}

.input-file::-webkit-file-upload-button {
 cursor: pointer;
}