.section input[type='number'] { /*временный костыль, убрать*/
 float: none;
}

.section select { /*временный костыль, убрать*/
 float: none;
}

.section input[type='checkbox'] {
 position: relative;
 padding: 0;
 margin: 0;
 height: 1.5rem;
 width: 1.5rem;
}

.section {
 display: flex;
 justify-content: space-between;
}

.section__flx-col {
 flex-direction: column;
 row-gap: 0.5rem;
}

.section > div {
 display: flex;
 flex-direction: column;
}

.section__div-flx-row {
 justify-content: flex-start;
 column-gap: 1rem;
 align-items: center;
}
.section__div-flx-row > div {
 display: flex;
 flex-direction: row;
 column-gap: 0.3rem;
}

.section_footer{
 gap: 0.5rem;
}

.section div.w100, .section textarea#fileName, .section textarea#layoutName {
 width: 100%;
}